# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\CIS_Masters\Sem_03\SQA\Project\Project code\Transaction\sample-spring-microservices-advanced\customer-service\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
